* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr auto; 

    min-height: 100vh;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

.card { 
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    max-width: 20rem;
    text-align: center;
    padding: clamp(14px, 3vw, 20px) ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 4px 6px rgba(0,0,0,0.04);
}
main {
    display: grid;
    place-items: center;
    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



.card p {
    text-align: center;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 1rem;
    margin: clamp(1rem, 3vw, 1.1rem);
}

.card h1{

    font-weight: 700;
    font-size: 1.25rem;
    margin: clamp(0.8rem, 3vw, 1.1rem);
}

footer {
    text-align: center;
    font-size: 11px;
    margin-top: 1.25rem;
    
}

a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

